body {
    margin: 0px;
}

.main {
    background-image: url(Images/smile.jpg);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.main-text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-text p, .online {
    width: 50%;
    margin-left: 50px;
}

.bold-text {
    margin-top: -25px;
    font-size: 52pt;
    font-weight: bold;
    font-family: Arial;
    color: rgba(92, 92, 92, 0.942);
}

.normal-text {
    width: 645px !important;
    font-size: 24pt;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -50px;
    color: rgba(83, 83, 83, 0.615);
}

.online {
    width: 20%;
    height: 10%;
}

.online button {
    width: 100%;
    height: 100%;
    font-size: 25px;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    border: none;
    background-color: rgba(12, 178, 233, 0.885);
    transform: scale(1);
    transition: 0.9s;
}

.online button:hover {
    cursor: pointer;
    transition: 0.9s;
    font-size: 27px;
    font-weight: bold;
    background-color: white;
    color: rgba(12, 178, 233, 0.885);
}

.text-a {
    background-color: rgba(12, 178, 233, 0.885);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.ta1, .ta2{
    width: 40%;
    height: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ta1 {
    border: none;
    border-radius: 20px;
    background-image: url(Images/dentist-with-smile.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 10px 5px rgba(132, 132, 132, 0.449);
}

.ta2 {
    width: 30%;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.tap1 {
    margin-top: -1px;
    font-size: 24pt; 
    font-family: Arial;
}

.tap2 {
    margin-top: -8px;
    font-size: 16pt;
    width: 100%;
    font-style: italic;
}

.text-b {
    width: 100%;
    display: flex;
    flex-direction: column;
}


.tb1, .tc1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tb1 p,
.tc1 p {
    font-family: Arial;
    font-size: 45px;
    font-weight: bold;
}

.tb2 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tb2d {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

.data_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Arial';
    background-color: rgba(12, 178, 233, 0.948);
    width: 30%;
    height: 320px;
    border: none;
    border-radius: 10px;
    transition: 0.5s;
}

.data_box:hover,
.data_box:focus {
    cursor: pointer;
    color: transparent;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 0px 10px 5px rgba(132, 132, 132, 0.449);
}

.one:hover, .one:focus{
    background-image: url(Images/image-one.jpg);
}

.two:hover, .two:focus{
    background-image: url(Images/image-two.jpg);
}

.three:hover, .three:focus{
    background-image: url(Images/image-three.jpg);
}

.four:hover, .four:focus{
    background-image: url(Images/image-four.jpg);
}

.five:hover, .five:focus{
    background-image: url(Images/image-five.png);
}

.six:hover, .six:focus{
    background-image: url(Images/image-six.jpg);
}

.topic_box{
    font-weight: bold;
    font-size: 20pt;
}

.details_box{
    font-size: 13pt;
}

.topic_box, .details_box{
    margin-top: -5px;
    width: 90%;
}

.text-c {
    background-color: rgba(12, 178, 233, 0.885);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tc2 {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.process_box {
    background-color: white;
    width: 35%;
    height: 600px;
    border: none;
    border-radius: 10px;
    font-family: 'Arial';
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    margin-bottom: 20px;

}

.process_box:hover,
.process_box:focus {
    box-shadow: 0px 0px 10px 5px rgba(132, 132, 132, 0.823);
}

.process_topic{
    font-weight: bold;
    font-size: 24pt;
    width: 90%;
    text-align: center;
}

.process_details{
    font-size: 15pt;
    width: 90%;
}

.footer {
    background-color: rgba(132, 132, 132, 0.79);
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-nav {
    width: 100%;
    height: 63%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.divider {
    width: 97%;
    height: 0.7%;
    background-color: rgba(215, 215, 215, 0.874);
    border: none;
    border-radius: 5px;
}

.bar {
    width: 100%;
    height: 33%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bar p {
    font-size: 18px;
    font-family: Arial;
}

.bar a {
    text-decoration: none;
}

@media (max-width:1200px){
    .main-text p{
        width: 50%;
        margin-left: 50px;
    }

    .bold-text {
        font-size: 42pt;
    }
    
    .normal-text {
        font-size: 18pt;
    }

    .online{
        width: 50%;
    }

    .ta1, .ta2{
        width: 45%;
    }

    .tb1 p, .tc1 p{
        font-size: 24pt;
    }

    .tap1{
        font-size: 24pt;
    }

    .tap2{
        font-size: 14pt;
    }

    .topic_box{
        font-size: 15pt;
    }

    .details_box{
        font-size: 11pt;
    }

    .process_topic{
        font-size: 18pt;
    }

    .process_details{
        font-size: 14pt;
    }

}

@media (max-width:768px) {

    .main-text {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-text p {
        width: 100%;
        text-align: center;
        margin-left: 0px;
    }

    .bold-text {
        margin-top: -25px;
        font-size: 45px;
        font-weight: bold;
        font-family: Arial;
    }

    .normal-text {
        width: 70% !important;
        font-size: 20px;
        font-family: Arial;
    }

    .online {
        width: 40%;
    }

    .online button {
        width: 100%;
        height: 100%;
        font-size: 12pt;
        color: white;
        border-radius: 10px;
    }

    .online button:hover {
        cursor: pointer;
        transition: 1.5s;
        font-size: 14px;
        transform: scale(1.09) translateX(10px);
        transform: scale(1.09) translateX(-5px);
        background-color: white;
        color: rgba(12, 178, 233, 0.885);
    }

    .text-a {
        background-color: rgba(12, 178, 233, 0.885);
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .ta1 {
        width: 85%;
        height: 400px;
        border-radius: 20px;
    }

    .ta2 {
        width: 70%;
        height: auto;
        margin-top: -20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .ta2 p,{
        text-align: center;
    }

    .tap1 {
        margin: 20px;
        font-size: 18pt;
    }

    .tap2 {
        margin: 20px;
        margin-top: -15px;
        font-size: 12pt;
    }

    .text-b {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .tb1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tb1 p, .tc1 p {
        font-size: 14pt;
    }

    .tb2 {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .tb2d {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
    }

    .data_box {
        width: 80%;
        margin: 5px;
    }

    .data_box:hover,
    .data_box:focus {
        box-shadow: 0px 0px 10px 5px rgba(132, 132, 132, 0.79);
    }

    .topic_box, .details_box{
        margin-top: 0;
    }

    .topic_box{
        margin-top: 5px;
    }

    .tc1 {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .tc2 {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .process_box {
        background-color: white;
        width: 90%;
        height: auto;
        border-radius: 10px;
    }

    .process_box:hover,
    .process_box:focus {
        box-shadow: 0px 0px 10px 5px rgba(132, 132, 132, 0.79);
    }

    .process_topic{
        font-size: 14pt;
    }

    .process_details{
        font-size: 12pt;
    }


}